body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff0066, #000000); 
    text-align: center;
}

.header {
    background: linear-gradient(to bottom, #030303, #ff0066);
    color: #fff; 
    padding: 05px;
}

.contenido {
    padding: 10px;
}

.imagen {
    width: 10%;
    height: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #eba5ce;
}

section {
    color: #ffffff;
	background: linear-gradient(to bottom, #3d3d3dad, #c7037598 );
	padding: 05px;
	margin-bottom: 10px;
	border: 1px solid #e2e2e2;
	box-shadow: 0 0 05px rgba(0, 0, 0, 0.1);
    position: relative;
}

a {
    color: #0066cc;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.footer {
    background: #000000; 
    color: #fff; 
    padding: 01px;
}